.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-box {
  background: white;
  padding: 25px;
  width: 380px;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.3);
  animation: popup 0.25s ease;
}

@keyframes popup {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.step-list {
  list-style: none;
  padding: 0;
}

.step-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.close-btn {
  background: #ec3f30;
  color: white;
  padding: 10px 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: 20%;
  margin-top: 5px;
  
  
}
